<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigbone.order.dao.OrderDao">

    <resultMap id="orderDemandMap" type="com.bigbone.common.entity.Order">
        <id property="id" column="id"/>
        <association property="demand" javaType="Demand">
            <result property="id" column="id"></result>
            <result property="departure" column="mname"></result>
            <result property="destination" column="price"></result>
            <result property="price" column="price"></result>
        </association>
        <association property="passenger" javaType="Passenger">
            <result property="nickname" column="nickname"></result>
            <result property="telephone" column="telephone"></result>
            <result property="address" column="address"></result>
        </association>
    </resultMap>

    <select id="findByUid" resultMap="orderMenuMap">
        SELECT o.id, o.mid, o.date, o.state, m.name mname, m.price, m.flavor FROM t_order o
        LEFT JOIN t_menu m ON o.mid=m.id
        WHERE o.uid=#{uid}
        limit #{start}, #{row}
	</select>

    <select id="findByState" resultMap="orderMenuMap">
        SELECT o.id, o.mid, o.date, o.state, m.name mname, m.price, m.flavor, u.nickname, u.telephone, u.address FROM t_order o
        LEFT JOIN t_menu m ON o.mid=m.id
        LEFT JOIN t_user u ON o.uid=u.id
        WHERE o.state=0
        LIMIT #{start}, #{row}
    </select>


</mapper>